body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px;
}

p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

li {
    margin-bottom: 5px;
}